<h1> <%= @track.name %> is a track from <%= Album.find(@track.album_id).title %></h1>

<%= link_to "Edit Track", edit_track_url, method: :get %>
<%= link_to "Delete Track", track_url(@track), method: :delete %>
<%= link_to "Album Page", album_url(@track.album_id), method: :get %>
